:javascript
  var fb_param = {};
  fb_param.pixel_id = '6017730878240';
  fb_param.value = '0.00';
  fb_param.currency = 'USD';
  (function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
  })();
%img{alt: "", height: "1", src: "https://www.facebook.com/offsite_event.php?id=6016754059040&value=0.01¤cy=USD", style: "display:none", width: "1"}