:javascript
  / <![CDATA[ /
  var google_conversion_id = 1018412343;
  var google_conversion_label = "Ht20COHivwcQt_rO5QM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  / ]]> /
%script{:type => "text/javascript", :src => "//www.googleadservices.com/pagead/conversion.js"}
%img{:height => "1", :width => "1", :style => "border-style:none;", :alt => "", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/1018412343/?value=0&amp;label=CgQeCOH0hAgQt_rO5QM&amp;guid=ON&amp;script=0"}