$base-font-family: Varela Round;
$letter-spacing: 0.06em;

$base-font-size: 15px;
$small-font-size: 12px;
$very-small-font-size: 10px;

$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 700;
$heavy-font-weight: 800;

$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
